<div class="container">

    <div class="col-sm-12">

        <h3><%= @date.strftime("%A, %b %d") %>, <%= @meal %></h3>

        <form id="signup-form" method="POST" action="/meal/<%=@date.strftime("%Y-%m-%d")%>/<%=@meal%>">

            <div class="signups">

                <% @signups.each do |signup| %>

                    <div class="row">

                        <input name="signups[<%=signup.id%>][id]" type="hidden" value="<%=signup.id%>">
                        <input name="signups[<%=signup.id%>][age]" type="hidden" value="<%=signup.age%>">

                        <div class="col-sm-6">
                            <strong><%=signup.age.capitalize%></strong>
                        </div>

                        <div class="col-sm-3 text-muted"><label>Send bill to <input name="signups[<%=signup.id%>][bill_to]" type="text" value="<%=signup.bill_to%>"></label></div>

                        <div class="col-sm-2 text-muted"><label><input name="signups[<%=signup.id%>][is_guest]" type="checkbox" <%if(signup.is_guest)%>checked<%end%>> Is guest?</label></div>

                        <div class="col-sm-1"><a href="javascript://" class="btn btn-default btn-xs remove-signup">Remove</a></div>

                    </div>

                <% end %>

            </div>

            <div class="row">

                <div class="col-sm-12 btn-group">
                    <a href="javascript://" class="btn btn-default new-signup" data-age="adult">Add adult</a>
                    <a href="javascript://" class="btn btn-default new-signup" data-age="child">Add child</a>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>

        </form>

    </div>

</div>