<%

(0..30).step do |n|

  date = Date.today + n
  signups_for_this_day = @signups[date.strftime("%Y/%m/%d")]

  unless signups_for_this_day
    signups_for_this_day = {'breakfast'=> {'adult' => 0, 'child' => 0}, 'lunch'=> {'adult' => 0, 'child' => 0}, 'dinner'=> {'adult' => 0, 'child' => 0}}
  end

  %>

  <div class="row day" data-day="<%= date %>">

    <div class="container">

      <div class="col-sm-12">

        <h3>
          <%= date.strftime("%A, %b %d") %>
          <% if(n == 0) %>
            (Today)
          <% end %>
        </h3>

      </div>

      <% ['breakfast', 'lunch', 'dinner'].each do |meal| %>

        <div class="col-sm-4 meal" data-meal="<%=meal%>">

          <h4><%=meal.capitalize%></h4>

          <% if (signups_for_this_day[meal]['adult'] > 0 || signups_for_this_day[meal]['child'] > 0) %>
            <p class="text-success signed-up">Signed up for <%=pluralize(signups_for_this_day[meal]['adult'], 'adult')%> and <%=pluralize(signups_for_this_day[meal]['child'], 'child')%></p>
          <% else %>
            <p class="text-muted">You haven't signed up.</p>
          <% end %>

          <a href="/meal/<%=date%>/<%=meal%>" class="btn btn-default">Sign up</a>

        </div>

      <% end %>

    </div>

  </div>

<% end %>