<%
  (0..30).step do |n|
    date = Date.today + n
    signups_for_this_day = @signups[date.strftime("%Y/%m/%d")]
    unless signups_for_this_day
      signups_for_this_day = {'breakfast'=>[], 'lunch'=>[], 'dinner'=>[]}
    end

    %>

    <div class="row day" data-day="<%= date %>">

      <div class="container">


      <div class="col-sm-12">

        <h3>
          <%= date.strftime("%A, %b %d") %>
          <% if(n == 0) %>
            (Today)
          <% end %>
        </h3>

      </div>

      <% ['breakfast', 'lunch', 'dinner'].each do |meal| %>

        <div class="col-sm-4">

          <% signups_for_this_day[meal].each do |id| %>

            <p data-id="<%= id %>" class="text-success">You signed up!</p>

          <% end %>

          <button data-meal="<%=meal%>" class="signup btn btn-default">Sign up for <%=meal%></button>

        </div>

      <% end %>

    </div>

  </div>

<% end %>